<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="home-item-wrapper">
            <div class="home-item-block">
                <div class="home-item-header">
                    <h2 class="home-item-title">Join an existing room</h2>
                </div>
                <div class="alert alert-danger" role="alert" ng-show="errors.invalidRoomId">
                    <p>Please enter a valid room id.</p>
                </div>
                <form class ="form-cap" name="joinRoomForm">
                    <div class="form-group">
                        <input type="text" class="form-control form-cap-input" ng-model="joinRoomObj.roomId" name="scrumMemberRoomId" placeholder="Room ID" required="required" />
                        <div ng-show="(joinRoomForm.scrumMemberRoomId.$error.required) &amp;&amp; joinRoomFormSubmitted" class="error-message" role="alert">
                            <span>Please fill in a room id.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-cap-input" ng-model="joinRoomObj.scrumMemberName" name="scrumMemberName" placeholder="Name" required="required">
                        <div ng-show="(joinRoomForm.scrumMemberName.$error.required ) &amp;&amp; joinRoomFormSubmitted" class="error-message" role="alert">
                            <span>Please fill in a name.</span>
                        </div>
                    </div>
                    <button class="btn btn-cap btn-cap-block btn-cap-primary" ng-click="joinRoom()">Join a room</button>
                </form>
            </div>
        </div>
        <div class="home-item-wrapper">
            <div class="home-item-block">
                <div class="home-item-header">
                    <h2 class="home-item-title">Create a new voting room</h2>
                </div>
                <form class="form-cap" name="createRoomForm">
                    <div class="form-group">
                        <input type="text" class="form-control form-cap-input" name="scrumMasterName" ng-model="createRoomObj.scrumMasterName" placeholder="Name" required="required" />
                        <div ng-show="(createRoomForm.scrumMasterName.$error.required) &amp;&amp; createRoomFormSubmitted" class="error-message" role="alert">
                            <span>Please fill in a name.</span>
                        </div>
                    </div>
                    <button class="btn btn-cap btn-cap-block btn-cap-primary" ng-click="createRoom()">Create a room</button>
                </form>
            </div>
        </div>
    </div>
</div>
