<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="item-wrapper">
            <div class="item-block">
                <div class="item-header">
                    <h2 class="item-title" name="pbi_name">Final Estimate <small>{{pbiName}}</small></h2>
                </div>
                <h4 class="text-center">The final estimate is:</h4>
                <h2 class="text-center item-title">{{finalEstimate}}</h2>
                <h4 class="text-center">Please wait for the scrummaster to push the next pbi.</h4>
            </div>
        </div>
    </div>
</div>
