<section ng-controller="View1Ctrl as estimate">
    <h1>PokerShore</h1>
    <div class="form-group">
      <form ng-submit="addEstimateToPBI()">
          <h2>Test</h2>
          User Hash : <input type="text" class="form-control" ng-model="pbi.userHash"/>
          PBI ID : <input type="text" class="form-control" ng-model="pbi.id"/>
          <br />
          <h2>Provide an Estimate for PBI ID : {{pbi.id}}</h2>
          <input class="form-control" class="form-control" type="text" ng-model="pbi.estimate" placeholder="Hi Scrum Member, write your estimation here" size="35" />
          <button class="btn btn-primary" type="submit" value="Submit"> Estimate </button>
      </form>
      <h2><span ng-if="message.Value">Your estimate = </span>{{message.Value}}</h2>
    </div>
</section>
