/* app css stylesheet */

body {
  background-color: #F0F0F0;
}

.viewContainer {
  margin-top: 15px;
}

.form-control {
  width: auto;
  margin-bottom: 0px;
}

.form-cap-input {
  display: inline-block;
  width: 100%;
}

.error-message {
  color: maroon;
  margin-bottom: 10px;
}

.navigation-wrapper {
  background-color: #FFF;
}

.navigation-wrapper.container-fluid {
  padding: 0px;
}

.navigation-wrapper .navigationContainer {
  background: transparent url(/app/media/border-header.png) repeat-x bottom;
}

.navigation-wrapper .navigationContainer .header-logo {
  position: relative;
  float: left;
}

.navigation-wrapper .navigationContainer .header-comma {
  position: absolute;
  left: 0px;
  bottom: -23px;
}

.navigation-wrapper .navigationContainer .navbar-wrapper {
  position: relative;
  margin-top: 10px;
}

.navigation-wrapper .navigationContainer .navbar-content-wrapper {
  position: relative;
  float: right;
}

.navigation-wrapper .navigationContainer .navbarTitle {
  font-family: HelveticaLTStdLight,helvetica,arial;
  color: #0098cc;
  font-size: 40px;
  margin-left: 40px;
  margin-top: 5px;
  position: relative;
  float: left;
}

.navigation-wrapper .navigationContainer ul.navigation li {
  margin: 10px 20px;
  position: relative;
  float: left;
}

.home-item-wrapper {
  padding: 10px;
}

.home-item-wrapper .home-item-block {
  padding: 20px;
  background-color: #b1b3b4;
  /*border: 1px solid #0098cc; */    
  border-radius: 10px;
}

.home-item-wrapper .home-item-block h2 {
  margin-top: 0px;
}

.home-title {
  display: inline-block;
  text-align: center;
  font-family: HelveticaLTStdLight,helvetica,arial;
  color: #0098cc;
  font-size: 40px;
  margin-top: 20px;
}

.home-item-title {
  text-align: center;
}

.vote-btn {
  width: 100px;
  height: 100px;
  line-height: 86px;
  font-size: 40px;
  margin: 5px;
  background-color: #0098cc;
  text-align: center;
  color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 5px 1px #707070;
  -moz-box-shadow: 0px 3px 5px 1px #707070;
  box-shadow: 0px 3px 5px 1px #707070;
}

.vote-btn:focus,
.vote-btn:active,
.vote-btn:focus:active {
  outline: none;
}

.vote-btn:hover {
  background-color: white;
  color: #0098cc;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.validation-error {
    color: red;
}

.PBI_name:not(:focus) {
    background:rgba(0,0,0,0);
    border:none;
}

tr.PBI_line:nth-child(even) {
    background-color: #CCC;
}

/*td.participant_name {
    border-collapse: separate;
    border-spacing: 10px;
    border-style: solid;
    border-width: thin;
    margin-right: 10px;
}


td.participant_estimate {
    border-collapse: separate;
    border-spacing: 10px;
    border-style: solid;
    border-width:thin;
}*/

.btn-cap {
    font-weight: bold;
    border-radius: 6px;
    line-height: 1.5;
}

.btn-cap-block {
    display: inline-block;
    width: 100%;
}

.btn-cap-primary {
    color: white;
    border-bottom: 1px solid #00264a;
    border-top: 1px solid #a4c7c0;
    background-color: #0098cc;
}

.btn-cap-primary:hover, .btn-cap-primary:focus {
    color: #0098cc;
    border: 1px solid #0098cc;
    background-color: white;
}