<!DOCTYPE html>
<html lang="en" ng-app="pokerShoreApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Poker Shore</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/normalize.css" />
    <link rel="stylesheet" href="lib/main.css" />
    <link rel="stylesheet" href="style/dist/main.css">
    <script src="lib/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="mainController">
    <div class="header-wrapper">
        <img src="/app/media/logo.png" alt="" ng-click="toHome()" class="header-logo hidden-sm hidden-xs">
        <img src="/app/media/Label_CBE.png" alt="" ng-click="toHome()" class="header-logo header-logo-small visible-sm visible-xs">
        <div class="header-title">PokerShore</div>
    </div>
    <div class="outer">
        <div class="middle">
            <div class="inner container">
                <div ng-view></div>
            </div>
            <div class="copyright">Copyright <span>&copy;</span> {{date| date:'yyyy'}} Capgemini. All rights reserved.</div>
        </div>
    </div>

    <div class="cap-dialog" ng-show="dialog.show" ng-cloak>
        <div class="cap-dialog-content container">
            <div class="row cap-dialog-content-text">
                <div class="col-xs-12">
                    You have been disconnected, what would you like to do?
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-cap btn-cap-primary btn-cap-block" ng-click="dialog.reconnect()">Reconnect</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-cap btn-cap-primary btn-cap-block" ng-click="dialog.toHome()">Go To Home</button>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/jquery.signalR.min.js"></script>
    <script src="lib/pubsub.js"></script>

    <script src="app.js"></script>
    <script src="directives/common-directives.js"></script>

    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

    <script src="views/home/home.js"></script>
    <script src="views/scrumMaster/waitingRoom/waitingRoom.js"></script>
    <script src="views/scrumMaster/voting/voting.js"></script>
    <script src="views/scrumMaster/resultOverview/resultOverview.js"></script>
    <script src="views/scrumMaster/setFinalEstimate/setFinalEstimate.js"></script>

    <script src="views/scrumMember/waitingRoom/waitingRoom.js"></script>
    <script src="views/scrumMember/voting/voting.js"></script>
    <script src="views/scrumMember/resultOverview/resultOverview.js"></script>
    <script src="views/scrumMember/seeFinalEstimate/seeFinalEstimate.js"></script>
</body>
</html>
