<h1>Overview</h1>
<div class="PBI_list" >
    <table>
        <tr>
            <th style="width: 300px">
                <label class="PBI_name">Name</label>
            </th>

            <th style="width: 60px" ng-hide="showEstimates">
                <label class="PBI_score">Voted</label>
            </th>

            <th style="width: 60px" ng-show="showEstimates">
                <label class="PBI_score">Score</label>
            </th>
        </tr>
        <tr ng-repeat="participant in participantsList" class="PBI_line">
            <td class="participant_name">
                <label>{{participant.UserName}}</label>
            </td>

            <td class="participant_voted" ng-hide="showEstimates">
                <label>{{hasVoted(participant.Estimate)}}</label>
            </td>

            <td class="participant_estimate" ng-show="showEstimates">
                <label>{{participant.Estimate}}</label>
            </td>
        </tr>
    </table>
</div>

