<div class="row waitingRoom">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="item-wrapper">
            <div class="item-block">
                <div class="item-header">
                    <h2 class="item-title"name="pbi_name">Room ID: <small>{{roomID}}</small></h2>
                    <h4 class="item-title"name="pbi_name">Please wait for the scrum master to push a PBI.</h4>
                </div>
                <div>
                    <div ng-repeat="participant in participantsList" class="text-center">
                        <span>{{participant.Name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
