<div class="row waitingRoom">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="home-item-wrapper">
            <div class="home-item-block">
                <h2 class="home-item-title"name="pbi_name">Room ID: <small>{{roomID}}</small></h2>
                <h2 class="home-item-title"name="pbi_name">Add PBI's and push them.</h2>
                <ul>
                    <li ng-repeat="participant in participantsList">
                        <span>{{participant.Name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
