<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="item-wrapper">
            <div class="item-block">
                <div class="item-header">
                    <h2 class="item-title" name="pbi_name">Result overview</h2>
                </div>
                <div class="resultOverview" >
                    <div class="row heading">
                        <span class="col-xs-8">Name</span>
                        <span class="col-xs-4" ng-hide="showEstimates">Voted</span>
                        <span class="col-xs-4" ng-show="showEstimates">Score</span>
                    </div>
                    <div class="row participantsList" ng-repeat="participant in participantsList">
                        <span class="col-xs-8">{{participant.UserName}}</span>
                        <span class="col-xs-4" ng-hide="showEstimates">
                            <span ng-show="hasVoted(participant.Estimate)"><img src="/app/media/checkmark.png" width="20px" alt="" class="checkmark"></span>
                            <span ng-hide="hasVoted(participant.Estimate)"><img src="/app/media/waiting.gif" width="50px" alt="" class="waiting" ></span>
                        </span>
                        <span class="col-xs-4" ng-show="showEstimates">{{participant.Estimate}}</span>
                        <div class="border-bottom margin-top-bottom"></div>
                    </div>
                    <div class="row" ng-hide="showEstimates">
                        <span class="col-xs-12">
                            <button type="button" class="btn btn-cap btn-cap-block btn-cap-primary" ng-click="pushEstimates()">Show Estimates</button>
                        </span>
                    </div>
                    <div class="row" ng-show="showEstimates">
                        <span class="col-xs-6">
                            <button type="button" class="btn btn-cap btn-cap-block btn-cap-primary" ng-click="pushPbi()">Revote</button>
                        </span>
                        <span class="col-xs-6">
                            <button type="button" class="btn btn-cap btn-cap-block btn-cap-primary" ng-click="finalEstimate()">Final Estimate</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
