<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="item-wrapper">
            <div class="item-block">
                <div class="item-header">
                    <h2 class="item-title"name="pbi_name">PBI <small>{{pbiName}}</small></h2>
                </div>
                <form>
                    <div class="row">
                        <!--Voting buttons-->
                        <div class="col-xs-12">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <label class="label-cap" for="score">Please give your estimation</label>
                                </div>
                                <div ng-repeat="button in buttons">
                                    <div ng-class="$last ? 'col-xs-12' : 'col-xs-4'" class="col-cap-voting">
                                        <button type="button" name="score" ng-class="{'btn-cap-block':$last}" class="btn-cap btn-lg btn-cap-primary btn-cap-block btn-cap-margin-bottom" value="button.value" ng-click="vote(button.value)">
                                            <span>{{button.text}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Scrum Master options-->
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="label-cap">Scrum Master options</label>
                        </div>
                        <div class="col-xs-12">
                            <div>
                                <div class="container-fluid">
                                    <div class="col-md-6 col-xs-12">
                                        <label class="sr-only" for="skip">skip estimation</label>
                                        <button type="button" name="skip" class="btn-cap btn-lg btn-cap-warning btn-cap-block btn-cap-margin-bottom" ng-click="vote('?')" data-toggle="tooltip" data-placement="bottom" title="Don't give an estimation for this PBI">Skip</button>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <label class="sr-only" for="abort">abort estimation</label>
                                        <button type="button" name="abort" class="btn-cap btn-lg btn-cap-danger btn-cap-block btn-cap-margin-bottom" ng-click="abortVoting()" data-toggle="tooltip" data-placement="bottom" title="Cancel the estimation round for this PBI">Abort</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
