<div class="page-header">
    <h1 name="pbi_name">PBI Name {{pbi.name}}</h1>
    <h3>Please vote</h3>
</div>
<form>
    <div class="row form-group">
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="0">
                    <span>0</span>
                </button>
            </div>
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="0.5">
                    <span>1/2</span>
                </button>
            </div>
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="1">
                    <span>1</span>
                </button>
            </div>
        </div>
    <div class="row form-group">
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="2">
                    <span>2</span>
                </button>
            </div>
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="3">
                    <span>3</span>
                </button>
            </div>
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="5">
                    <span>5</span>
                </button>
            </div>
        </div>
    <div class="row form-group">
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="8">
                    <span>8</span>
                </button>
            </div>
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="13">
                    <span>13</span>
                </button>
            </div>
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="20">
                    <span>20</span>
                </button>
            </div>
        </div>
    <div class="row form-group">
        
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="40">
                    <span>40</span>
                </button>
            </div>
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="100">
                    <span>100</span>
                </button>
            </div>
            <div class="col-xs-4 col-lg-2">
                <button name="score" class="btn btn-block btn-lg btn-primary" type="button" value="?">
                    <span>?</span>
                </button>
            </div>
        </div>
    <div class="row form-group">
        <div class="col-xs-12 col-lg-6">
            <button name="score" class="btn btn-lg btn-primary btn-block" type="button" value="coffee">
                <span>I need coffee...</span>
                <span class="glyphicon"></span>
            </button>
        </div>
    </div>
</form>
