<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="item-wrapper">
            <div class="item-block">
                <div class="item-header">
                    <h2 class="item-title" name="pbi_name">Final Estimate<small>{{pbiName}}</small></h2>
                </div>
                <form>
                    <div class="row">
                        <!--Voting buttons-->
                        <div class="col-xs-12 col-sm-6">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <label class="control-label" for="score">Please give the final estimate</label>
                                </div>
                                <div ng-repeat="button in buttons">
                                    <div ng-class="$last ? 'col-xs-12' : 'col-xs-4'">
                                        <button type="button" name="score" ng-class="{'btn-block-full-width':$last}" class="btn btn-lg btn-primary btn-block" value="button.value" ng-click="vote(button.value)" style="margin-bottom: 15px;">
                                            <span>{{button.text}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
