<h1>This is a Room</h1>
<h3>Room id: {{roomID}}</h3>
<button type="button" name="button" ng-click="goToVoting()">Go To Voting</button>
<div class="BPI_list" >
    <form ng-submit="submit()">
        <table>
            <tr>
                <th style="width: 200px">
                    <label class="PBI_name">PBI Name</label>
                </th>
                <th style="width: 50px">
                    <label class="PBI_score">Score</label>
                </th>
            </tr>
            <tr ng-repeat="pbi in pbiArray" class="PBI_line">
                <td>
                    <input class="PBI_name" ng-model="pbi.PBI_name" />
                </td>
                <td>
                    <label class="PBI_score">{{pbi.PBI_score}}</label>
                </td>
                <td>
                    <button class="PBI_push" ng-click="pushPbi()">Push</button>
                </td>
                <td>
                    <button class="PBI_remove" ng-click="removePbi($index)">X</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="newPbi" type="text" ng-model="newPbi" ng-blur="createPbi(newPbi); newPbi = '';" />
                </td>
                <td colspan="3"></td>
            </tr>
            <tr id="newPbi2" ng-show="newPbi.length >= 1;" ng-mousedown="setPbiFocus = true;">
                <td>
                    <input type="text" />
                </td>
                <td colspan="3"></td>
            </tr>
        </table>
        <input type="submit" style="position: absolute; left: -9999px" />
    </form>
</div>
<div>
    <h2>Partipants</h2>
    <ul>
        <li ng-repeat="participant in participantsList">
            <span>{{participant.Name}}</span>
        </li>
    </ul>
</div>
