.btn-cap {
    font-weight: bold;
    border-radius: 0px;
    line-height: 1.5;
}

.btn-cap-margin-top {
    margin-top: 20px;
}

.btn-cap-margin-bottom {
    margin-bottom: 15px;
}

.btn-cap-block {
    display: inline-block;
    width: 100%;
}

.btn-cap-primary {
    color: white;
    border: 1px solid #0098cc;
    background-color: #0098cc;
}

.btn-cap-primary:hover, .btn-cap-primary:focus {
    color: #0098cc;
    border: 1px solid #0098cc;
    background-color: white;
}

.btn-cap-default {
    color: #0098cc;
    border: 1px solid #0098cc;
    background-color: white;
}

.btn-cap-default:hover, .btn-cap-default:focus {
    color: white;
    border: 1px solid #0098cc;
    background-color: #0098cc;
}

.btn-cap-warning {
    color: white;
    border: 1px solid #ec971f;
    background-color: #ec971f;
}

.btn-cap-warning:hover, .btn-cap-warning:focus {
    color: #ec971f;
    border: 1px solid #ec971f;
    background-color: white;
}

.btn-cap-danger {
    color: white;
    border: 1px solid #c9302c;
    background-color: #c9302c;
}

.btn-cap-danger:hover, .btn-cap-danger:focus {
    color: #c9302c;
    border: 1px solid #c9302c;
    background-color: white;
}

@media screen and (max-width: 480px) {
    .btn-cap {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media screen and (max-width: 360px) {
    .btn-cap {
        padding-left: 4px;
        padding-right: 4px;
    }
}