.item-wrapper{
    padding: 10px;
    .item-block{
        margin: 15px;
        padding: 30px;
        background-color: white;
        h2{
            margin-top: 0px;
            margin-bottom: 0px;
        }

    }
    &:last-child{
        margin-bottom:50px;
    }
}
.title {
  display: inline-block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 40px;
  margin-top: 20px;
}

.item-title {
  color: #0098cc;
  text-align: center;
}

.item-title-subheader {
    color: #777777;
    text-align: center;
    margin: 5px 0px;
}

.item-header {
  display: block;
  width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border-bottom: 1px solid #ccc;
}
