@import "bootstrap/bootstrap.less";

body{
    background-color: #FFF;
}
.viewContainer{
    margin-top: 15px;
}

.form-control{
    width: auto;
    margin-bottom: 0px;
}

.error-message{
    color:maroon;
    margin-bottom: 10px;
}

.form-cap-input {
  display: inline-block;
  width: 100%;
}

.validation-error {
    color: red;
}

@import "navigation.less";
@import "home.less";
@import "vote.less";
@import "buttons.less";
@import "menu.less";
@import "resultOverview.less";
@import "waitingRoom.less";
