.navigation-wrapper{
    background-color: #FFF;
    &.container-fluid{
        padding: 0px;
    }
    .navigationContainer{
        .header-logo{
            position: relative;
            float: right;
        }
        .header-comma{
            position: absolute;
            left:0px;
            bottom: -23px;
        }
        .navbar-wrapper{
            position: relative;
            margin-top: 10px;
        }
        .navbar-content-wrapper{
            position: relative;
            float: right;

        }
        .navbarTitle{
            font-family: HelveticaLTStdLight,helvetica,arial;
            color: #00a1d5;
            font-size:40px;
            margin-left: 40px;
            margin-top: 5px;
            position: relative;
            float: left;
        }
        ul.navigation{

            li{
                margin:10px 20px;
                position: relative;
                float:left;
            }
        }
    }
}
