.navigationContainer{
    background-color: #FFF;
    border-bottom: 1px solid #465A64;
    .header-logo{
        position: relative;
        float: left;
    }
    .header-comma{
        position: absolute;
        left:0px;
        bottom: -25px;
    }
    .navbar-wrapper{
        position: relative;
        margin-top: 10px;
    }
    .navbar-content-wrapper{
        position: relative;
        float: right;

    }
}
