.waitingRoom{
    .pbi-item {
        padding: 5px;
        border-bottom: 1px solid #ccc;
        .small-pbi-buttons{
            margin-bottom:10px;
        }
    }


    .inputRow{
        margin-top:15px;
    }

    .newPbi{
        width:100%;
    }
}
