<div class="container navbar-wrapper">
    <a href="#/home"><img src="/app/media/logo.png" alt="" class="header-logo hidden-xs"></a>
    <img src="/app/media/comma-white.png" alt="" class="header-comma">
    <span class="navbarTitle">Pokershore</span>
    <div class="navbar-content-wrapper">
        <ul class="navigation">
            <li><a href="#/view1">view1</a></li>
            <li><a href="#/view2">Add Pbi</a></li>
            <li><a href="#/voting">Vote</a></li>
        </ul>
    </div>
</div>
